/* header css */
.Header{
  background-color: black;
  color: white;
  justify-content: center;
  display: flex;
  padding: 2%;      
  overflow: hidden;  
  
}
.Header ul{
  display: flex;
  list-style-type: none;
}
.Header li{
  padding: 5%;
  gap: 2px; 
}
.About{
  background-color: aqua;
  height: 100vh;
}
.Contact{
  background-color: blue;
  height: 100vh;
}
.Services{
  background-color: blueviolet;
  height: 100vh;
}
